<h1>Pipes No Comunes</h1>
<p>
    Pipes incluídos en Angular - Usualmente en el Common Module.
</p>
<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="I18nSelect Pipe" [toggleable]="true">
            {{nombre}}... Una vez que bajes del vehículo, observarás varios comercios dentro de la estación de autobuses. No entres, venden muy caro. Sal de la estación, camina tres cuadras hacia el norte, doblas a la izquierda, camina otras tres cuadras y verás una tienda grande, llamada “El puerto del tiburón”. Ahí encontrarás lo que buscas. Y lo que no buscas también.
            Por favor, ten mucho cuidado {{genero | i18nSelect: obj}}.
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="I18nPlural Pipe" [toggleable]="true">
            {{nombre}}... Una vez que bajes del vehículo, observarás varios comercios dentro de la estación de autobuses. No entres, venden muy caro. Sal de la estación, camina tres cuadras hacia el norte, doblas a la izquierda, camina otras tres cuadras y verás una tienda grande, llamada “El puerto del tiburón”. Ahí encontrarás lo que buscas. Y lo que no buscas también.
            Por favor, ten mucho cuidado {{genero | i18nSelect: obj}}.
        </p-fieldset>
    </div>
</div>